nav {
  background-color: #050f24; }

.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem; }

.cardContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-color: salmon;
  background-size: cover;
  width: 300px;
  height: 400px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315); }
  .cardContainer .blog__date {
    margin: 0.5rem; }
    .cardContainer .blog__date small {
      background-color: #00000068;
      color: white;
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem; }
  .cardContainer .blog__info {
    background-color: #00000068;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20%;
    display: flex !important;
    align-items: flex-end;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    color: #fff; }
    .cardContainer .blog__info * {
      transition: all 0.4s linear; }
    .cardContainer .blog__info .buttons {
      display: flex;
      gap: 1rem; }
      .cardContainer .blog__info .buttons button {
        padding: 0.3rem 0.4rem; }
      .cardContainer .blog__info .buttons i {
        font-size: 15px;
        border: none; }
    .cardContainer .blog__info .counters {
      display: flex;
      align-items: center;
      gap: 0.6rem; }
      .cardContainer .blog__info .counters span {
        display: flex;
        align-items: center; }
  .cardContainer .blog__profile {
    background-color: #e4f2fd;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0; }
    .cardContainer .blog__profile img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      margin-right: 10px; }
    .cardContainer .blog__profile p {
      color: #a1b2bc;
      font-size: 0.8rem; }
    .cardContainer .blog__profile .blog__profile__text h2 {
      color: #334454;
      font-size: 1.2rem; }
    .cardContainer .blog__profile .blog__profile__text p {
      margin: 0; }

.detail__counter {
  display: flex;
  flex-wrap: wrap; }
  .detail__counter .blog__info {
    padding: .5rem 1rem !important;
    width: 100%;
    background-color: #291f1f68;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    color: #fff; }
    .detail__counter .blog__info .counters {
      display: flex; }
      .detail__counter .blog__info .counters i {
        margin-right: 5px; }
    .detail__counter .blog__info .buttons {
      display: flex;
      gap: 1rem; }
      .detail__counter .blog__info .buttons button {
        padding: 0.3rem 0.4rem; }
      .detail__counter .blog__info .buttons i {
        font-size: 15px; }

.containerDetails {
  min-height: 91vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .containerDetails .cardContainer {
    border-radius: 1rem;
    box-shadow: rgba(108, 107, 107, 0.3) 0px 19px 38px, rgba(118, 115, 115, 0.22) 0px 15px 12px;
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    height: fit-content; }
    .containerDetails .cardContainer .title > h2 {
      text-align: center;
      margin: 0.5rem; }
    .containerDetails .cardContainer .title > img {
      width: 100%;
      max-height: 20rem;
      object-fit: cover; }
    .containerDetails .cardContainer .blog__info {
      width: 100%;
      background-color: #291f1f68;
      display: flex !important;
      position: relative;
      color: #fff; }
      .containerDetails .cardContainer .blog__info .counters {
        display: flex;
        gap: 1rem; }
        .containerDetails .cardContainer .blog__info .counters i {
          margin-right: 5px; }
      .containerDetails .cardContainer .blog__info .buttons {
        display: flex;
        gap: 1rem; }
        .containerDetails .cardContainer .blog__info .buttons i {
          font-size: 15px; }
  .containerDetails .description {
    background: #efeefe;
    text-align: center; }
    .containerDetails .description > h3 {
      padding: 0.4rem; }
    .containerDetails .description > h6 {
      font-size: 0.8rem;
      font-weight: normal; }
    .containerDetails .description > p {
      font-size: 1rem;
      text-align: justify;
      padding: 1rem 1rem 0 1rem;
      margin-bottom: 1rem;
      max-height: 230px;
      min-height: 200px;
      overflow: auto; }
  .containerDetails .cardFooter {
    background: #efeefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
    margin-top: -1rem;
    background-color: #231d17b7;
    color: white; }
    .containerDetails .cardFooter > p {
      font-weight: 500; }
    .containerDetails .cardFooter .btnContainer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .containerDetails .cardFooter .btnContainer a {
        margin: .5rem; }
    .containerDetails .cardFooter .info__counter {
      color: #fff; }
      .containerDetails .cardFooter .info__counter .counters {
        display: flex;
        gap: 8px; }
        .containerDetails .cardFooter .info__counter .counters span i {
          margin-right: 5px; }
  .containerDetails .commentSection {
    padding: 1rem; }
    .containerDetails .commentSection .commentsFor {
      background-color: #231d17b7;
      color: white; }
      .containerDetails .commentSection .commentsFor p {
        margin-bottom: .5rem; }

.newBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 83vh; }
  .newBlog .contactForm {
    background-color: #050f2495;
    width: 90%;
    min-width: 20rem;
    max-width: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
    color: white;
    border-radius: 1rem;
    transition: 0.5s all linear; }
    .newBlog .contactForm > h2 {
      margin: 1.5rem;
      width: 22rem;
      text-align: center; }
    .newBlog .contactForm > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      max-width: 35rem;
      color: black; }
      .newBlog .contactForm > div form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        font-size: 1rem;
        gap: .5rem; }
        .newBlog .contactForm > div form label {
          color: white;
          margin: 0 0 5px 5px; }
        .newBlog .contactForm > div form input {
          color: black;
          transition: 0.3s all linear;
          width: 100%;
          height: 3rem;
          padding: 0.5rem 0;
          font-size: 1rem;
          text-indent: 0.5rem;
          outline: none;
          border-radius: 5px;
          border: 2px solid #050f24;
          background-color: white; }
          .newBlog .contactForm > div form input::placeholder {
            color: #050f24; }
          .newBlog .contactForm > div form input:focus {
            border: 2px solid #2d4e68; }
        .newBlog .contactForm > div form textarea {
          color: black;
          font-size: 1rem;
          transition: 0.3s all linear;
          padding: 0.5rem;
          width: 100% !important;
          border: none;
          outline: none;
          resize: none;
          height: 11rem !important;
          border-radius: 5px;
          border: 2px solid #050f24;
          background-color: white;
          margin-bottom: 0 !important; }
          .newBlog .contactForm > div form textarea::placeholder {
            color: #050f24; }
          .newBlog .contactForm > div form textarea:focus {
            border: 2px solid #2d4e68; }
        .newBlog .contactForm > div form > button {
          cursor: pointer;
          transition: 0.3s all linear;
          background-color: #050f24;
          font-size: 1rem;
          letter-spacing: 0.2rem;
          color: white;
          border: 1px solid #2d4e68;
          border-radius: 0.3rem;
          /* margin-top: 1rem; */
          padding: 0.8rem;
          width: 100%;
          opacity: 0.8; }
          .newBlog .contactForm > div form > button:hover {
            opacity: 1;
            border: 1px solid #2d4e68; }

.register label {
  margin-bottom: .5rem; }

.FooterStyle {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.13);
  color: black;
  font-family: "Roboto", sans-serif;
  background-color: #050f24;
  align-items: center;
  height: 8vh;
  padding: 0 1.5rem;
  max-width: 100vw;
  bottom: 0; }
  .FooterStyle .TextStyle {
    font-size: 0.7rem;
    color: white; }
    .FooterStyle .TextStyle > p {
      color: white; }
  .FooterStyle .Logos {
    display: flex;
    justify-content: space-between;
    gap: 1rem; }
    .FooterStyle .Logos > a {
      transition: all 0.3s linear;
      color: white; }
      .FooterStyle .Logos > a:hover {
        color: aqua;
        transform: scale(1.1); }

/*# sourceMappingURL=main.css.map */