$bright-color: #fff;
$backgroundColor: #050f24; 
$san-juan: #2d4e68;
@mixin bottom {
  position: absolute;
  right: 0;
  left: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
  margin: 0;
}

ul {
  margin: 0;
}

#id_content {
  height: 10rem !important;
  resize: none;
}

.contain {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}
.cardContainer {
  //   background: url("https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-color: salmon;
  background-size: cover;
  width: 300px;
  height: 400px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
  .blog__date {
    margin: 0.5rem;
    small {
      background-color: #00000068;
      color: white;
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem;
    }
  }
  .blog__info {
    * {
      transition: all 0.4s linear;
    }
    background-color: #00000068;
    @include bottom;
    bottom: 20%;
    display: flex !important;
    align-items: flex-end;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    color: $bright-color;
    .buttons {
      display: flex;
      gap: 1rem;
      button {
        padding: 0.3rem 0.4rem;
      }
      i {
        font-size: 15px;
        border: none; 
      }
    }
    .counters {
      display: flex;
      align-items: center;
      gap: 0.6rem; 
      span{
        display: flex;
        align-items: center;
      }
    }
  }
  .blog__profile {
    background-color: #e4f2fd;
    display: flex;
    align-items: center;
    padding: 10px;
    @include bottom();
    bottom: 0;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      margin-right: 10px;
    }
    h2 {
      color: #334454;
      font-size: 1.2rem;
    }
    p {
      color: #a1b2bc;
      font-size: 0.8rem;
    }
    p b {
      font-style: italic;
    }
  }
}
.detail__counter { 
  display: flex;
  flex-wrap: wrap;
  .blog__info {
  padding: .5rem 1rem !important;

    .counters {
      display: flex;
      // gap: 1rem;
      i {
        margin-right: 5px;
      }
    }
    width: 100%;
    background-color: #291f1f68;
    display: flex !important; 
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    color: $bright-color;
    .buttons {
      display: flex;
      gap: 1rem;
      button {
        padding: 0.3rem 0.4rem;
      }
      i {
        font-size: 15px;
      }
    }
  }
}

.containerDetails {
  min-height: 91vh;
  // border: 1px solid red;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cardContainer {
    border-radius: 1rem;
    box-shadow: rgba(108, 107, 107, 0.3) 0px 19px 38px,
      rgba(118, 115, 115, 0.22) 0px 15px 12px;
    background-color: white;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    height: fit-content;  
    .title {
      & > h2 {
        text-align: center;
        margin: 0.5rem;
      }
      & > img {
        width: 100%;
        max-height: 20rem;
        object-fit: cover;
      }
    }
    .blog__info { 
      .counters {
        display: flex;
        gap: 1rem;
        i {
          margin-right: 5px;
        }
      }
      width: 100%;
      background-color: #291f1f68;
      display: flex !important;
      position: relative; 
      color: $bright-color;
      .buttons {
        display: flex;
        gap: 1rem;
        // button {
        //   padding: 0.3rem 0.4rem;
        // }
        i {
          font-size: 15px;
        }
      }
    }
  }
  .description {
    background: #efeefe;
    text-align: center; 
    & > h3 {
      padding: 0.4rem;
    }
    & > h6 {
      font-size: 0.8rem;
      font-weight: normal;
    }
    & > p {
      font-size: 1rem;
      text-align: justify;
      padding: 1rem 1rem 0 1rem  ;
      max-height: 230px;
      overflow: auto;
    }
    
  }
  .cardFooter {
    background: #efeefe; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; 
    margin-top: -1rem; 
    & > p {
      font-weight: 500;
    }
    .btnContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.1rem;
      a{
        margin-left: .5rem;
      }
    } 
  }
  .commentSection { 
    margin: .5rem 1rem;
    .commentContainer { 
      background-color: #44444457;
      border-radius: .5rem;
      padding: .5rem  ; 
      margin-top: .5rem;
      & p{
        margin: 0;
      }
    }
  }
  .row{
    margin: 1rem;
    text-area{
      height: 4rem;
    }
  }
}

.newBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: solid red 1px;
  min-height: 83vh;
  .contactForm {
    background-color: #050f2495;
    width: 90%;
    min-width: 20rem;
    max-width: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
    color: white;
    border-radius: 1rem;
    transition: 0.5s all linear;
    & > h2 {
      margin: 1.5rem;
      width: 22rem;
      text-align: center;
    }
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      max-width: 35rem;
      color: black;
      form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        font-size: 1rem;
        gap: .5rem; 
        label{
          color: white; 
          margin: 0 0 5px 5px;
        }
        input {
          color: black;
          transition: 0.3s all linear;
          width: 100%;
          height: 3rem;
          padding: 0.5rem 0;
          font-size: 1rem;
          text-indent: 0.5rem;
          outline: none;
          border-radius: 5px;
          border: 2px solid $backgroundColor;
          background-color: white;
          
          &::placeholder {
            color: $backgroundColor;
          }
          &:focus {
            border: 2px solid $san-juan;
          }
        }
        textarea {
          color: black;
          font-size: 1rem;
          transition: 0.3s all linear; 
          padding: 0.5rem;
          width: 100% !important;
          border: none;
          outline: none;
          resize: none;
          height: 11rem !important;
          border-radius: 5px;
          border: 2px solid $backgroundColor;
          background-color: white;
          margin-bottom: 0 !important;
          &::placeholder {
            color: $backgroundColor;
          }
          &:focus {
            border: 2px solid $san-juan;
          }
        }
        & > button {
          cursor: pointer;
          transition: 0.3s all linear;
          background-color: $backgroundColor;
          font-size: 1rem;
          letter-spacing: 0.2rem;
          color: white;
          border: 1px solid $san-juan;
          border-radius: 0.3rem;
          /* margin-top: 1rem; */
          padding: 0.8rem;
          width: 100%;
          opacity: 0.8;
          &:hover {
            opacity: 1;
            border: 1px solid $san-juan;
          }
        }
      }
    }
  }
}
