{% extends "templates/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex justify-content-center mt-4">
        <div class="content-section col-md-6">
            <form method="POST" >
                {% csrf_token %}
                <fieldset class="form-group d-flex flex-column gap-1">
                    <legend class="border-bottom mb-1 ">Blog Comment</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mt-2 text-center">
                    <button class="btn btn-outline-info" type="submit">Add Comment</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}