{% extends "templates/base.html" %}
{% load static %}
{% block content %}
    <div class="contain">
    {% for post in posts %}  

      <div class="cardContainer" style="background-image: url( {{post.image.url}}  ); ">
        <div class="blog__date" > 
          <small class="">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        {% include "blog/likes.html" %}
        
        <div class="blog__profile">
         <img
          src="{{ post.author.userprofile.image.url }}"
          alt="author"
         />
         <div class="blog__profile__text">
          <h2>
            <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
          </h2>
          <p>by <b>{{ post.author }}</b></p> 
         </div> 
        </div>  
       </div> 
       {% endfor %}
    </div>
    
 

 
  
{% endblock content %}