{% extends "templates/base.html" %}
{% load static %}
{% block content %}
<div class="contain">
  {% for post in posts %}

  <div class="cardContainer" style="background-image: url( {{post.image.url}}  ); ">
    <div class="blog__date">
      <small class="">{{ post.date_posted|date:"F d, Y" }}</small>
    </div>
    {% comment %} !!!! {% endcomment %}

    <div class="blog__info">
      <div class="counters">
        <span><i class="fas fa-eye me-1"></i>{{post.blog_view}}</span>
        <span>
          <a class="text-light bg-transparent border-0 mt-1" href="#">
            <i class="fas fa-comment-alt  me-1"></i></a> 
          </i>{{post.blog_comment}}</span>
        <span> 
          {% include "blog/likes_area.html" %} 
        </span>
      </div>
      
    </div>
    {% comment %} !!!! {% endcomment %}
    <div class="blog__profile">
      <img src="{{ post.author.userprofile.image.url }}" alt="author" />
      <div class="blog__profile__text">
        <h2>
          <a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
        </h2>
        <p>@<b>{{ post.author }}</b></p>
        <p class="cont">{{ post.content | truncatechars:30 }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>





{% endblock content %}