{% extends "templates/base.html" %}
{% load static %}
{% block content %}
    {% comment %} <article class="media content-section d-flex ">
      <img class="rounded-circle article-img" src="{{ post.author.userprofile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2>
          <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
        </h2>
        <p class="article-content">{{ post.content }}</p>

      </div>
      <div> 
        <img class="rounded-circle article-img" src="{{ post.image.url }}" alt="asd"> 
        
      </div>
    </article> {% endcomment %}
    <div class="contain">
    {% for post in posts %}  

      <div class="cardContainer" style="background-image: url( {{post.image.url}}  ); ">
        <div class="blog__date" >

          <small class="">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <div class="blog__info">
         <span><i class="fas fa-eye"></i>{{post.blog_view}}</span>
         <span><i class="fas fa-comment-alt"></i>624</span>
         <span><i class="fa-solid fa-heart"></i>1470</span>
        </div>
        <div class="blog__profile">
         <img
          src="{{ post.author.userprofile.image.url }}"
          alt="author"
         />
         <div class="blog__profile__text">
          <h2>
            <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
          </h2>
          <p>by <b>{{ post.author }}</b></p>
         </div>
      
        </div>
       </div>
       {% endfor %}
    </div>
    
 

 
  
{% endblock content %}