{% if request.user.is_authenticated %}
<div
  class="list-group list-group-horizontal btn-group"
  id="likesarea"
  role="group"
>
  {% csrf_token %}
  <button
    hx-post="{% url 'like_post' post.id %}"
    id="like-button"
    hx-target="#likesarea"
    hx-swap="outerHTML"
    style="background-color: transparent; border: none"
    class="text-light p-0"
  > 
  
    {% if request.user in post.likes.all %}
    <i class="fa-solid fa-heart" style="color: crimson"></i>
    {% else %}
    <i class="fa-solid fa-heart" style="color: white"></i>
    {% endif %} {{post.likes.count}}
  </button>
</div>
{% else %}
<a class="  " href="{% url 'user_login' %}">
  <i class="fa-solid fa-heart text-light me-1"></i>
</a>
{{post.likes.count}} {% endif %}
