{% extends "templates/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %} 
{% block content %} 
    <div class="newBlog">
        <div class="contactForm">
          <h2 class="text-light"> Create a Post</h2>
          <div>
            <form method="POST" enctype="multipart/form-data" class="blogForm">
                {% csrf_token %}
                <div class="w-100"> 
                  <label  >Title</label>
                  {% render_field form.title placeholder="Title "  %} 
                </div>
                <div class="w-100"> 
                  <label  >Content</label>
                  {% render_field form.content placeholder="Content here"  %} 
                </div> 
              <div  class="w-100">
                {{ form.image.label_tag }} 
                <input type="file" name="image" accept="image/*" class=" form-control-file" id="id_image" required> 
              </div>
              <button  value="submit"  >  
                Send
              </button>
            </form>
          </div>
        </div>
      </div>
{% endblock content %}


  
{% comment %} {{form.title|as_crispy_field}} 
{{form.content|as_crispy_field}}  {% endcomment %}
{% comment %} {{ form.title.label_tag }} 
<input type="text" name="title" maxlength="100" class="textinput  " required  id="id_title">
{{ form.content.label_tag }} 
<textarea name="content" cols="40" rows="10" class="textarea form-control" required="" id="id_content"></textarea>{% endcomment %}
{% comment %} <fieldset class="form-groups ">  {% endcomment %}
    {% comment %} {{ form|crispy }} {% endcomment %}
    {% comment %} {{form.title|as_crispy_field}} {% endcomment %}
{% comment %} </fieldset> {% endcomment %}
