{% extends "templates/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <article class="media content-section d-flex" >
    <img class="rounded-circle article-img" src="{{ object.author.userprofile.image.url }}">
    <div class="media-body ">
      <div class="article-metadata ">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
    {% if object.author == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>
    {% endif %}
    <br>
    <h2>Comments...</h2> 
    <hr>
    {% if not post.comments.all %}
     No comments Yet ...
     <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-comment' post.pk %}">Add One</a>
     {% else %} 
     {% for comment in post.comments.all %}
     <strong>
       {{comment.name}} -
       {{comment.date_added}}
      </strong>
      <br>
      {{comment.body}}
      <hr>
      {% endfor %}
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-comment' post.pk %}">Add Comment</a>
     {% endif %}
     
    </div>
    
  </article>
  {% comment %} <div class="d-flex justify-content-center mt-4">
    <div class="content-section col-md-6">
        <form method="POST" >
            {% csrf_token %}
            <fieldset class="form-group d-flex flex-column gap-1">
                <legend class="border-bottom mb-1 ">Blog Comment</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-2 text-center">
                <button class="btn btn-outline-info" type="submit">Add Comment</button>
            </div>
        </form>
    </div>
</div> {% endcomment %}
   
     
    </div>
{% endblock content %}

