{% extends 'templates/base.html' %} 
{% block title %}Login{% endblock %} 
{% load crispy_forms_tags %} 
{% block content %} 
<div class="d-flex justify-content-center mt-4 ">
    <div class="content-section col-lg-6">
      {% if request.user.is_authenticated %}
      <h3>You are already logged in</h3>
      {% else %}  
      <h3 style="text-align: center">Log In </h3>
      <hr />
      <form action="" method="POST" >
        {% csrf_token %} 

        <fieldset class="form-group register"> 
            {{login_form | crispy}}  
        </fieldset> 
        
        <div class="d-grid my-2">
          <input class="btn  btn-primary btn-login text-light  " type="submit"  style="border-radius:5px;" value='LOGIN'>
        </div>
      </form>
      <hr/>
      <div class="d-flex justify-content-between" style="font-size: small">
        <p style="margin-right: 10px">Need an account?</p>
        <a class="text-decoration-none fw-bold" href="{% url 'user_register' %}">Sign Up Now</a>
      </div>
    </div>
    {% endif %} 
  </div>

   

    
{% endblock %}
 