{% extends 'templates/base.html' %} {% block content %} {% load crispy_forms_tags %}

  
<div class="d-flex justify-content-center">
  <div class="content-section col-lg-8">
    <form method="POST" >
        {% csrf_token %}
        <fieldset class="form-group register">
          <h2 style="text-align: center;">Registration Form</h2><hr>
            {{form | crispy}}  
        </fieldset>
        <div class="d-grid my-2">
          <input class="btn  btn-primary btn-login text-light  " type="submit"  style="border-radius:5px;" value='SIGN UP'>
        </div>
    </form>
    
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'user_login' %}">Sign In</a>
        </small>
    </div> 
  </div>


</div>

 {% endblock %}