<div>
  <div class="FooterStyle">
    <div class="TextStyle">
      Copyright &#169;
      2022 Esad Akman
    </div>
    <div class="Logos">
      <a href="https://esadakman.github.io/" target="_blank" rel="noreferrer" title="Portfolio Page">
        <i class="fa-solid fa-globe"></i>
      </a>
      <a href="https://github.com/esadakman" target="_blank" rel="noreferrer" title="Github Page">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/esadakman/" target="_blank" rel="noreferrer" title="Linkedin Page">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div