 
{% load crispy_forms_tags %} 
{% load  static %}

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/">
        <img src="{% static 'blog/images/logo.png' %}" alt="" width="45" height="45">
        Blog App</a>
        {% comment %} <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %} {% if request.user.is_superuser %}

            <li class="nav-item active">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item active">
                
                <a class="nav-link" href="{% url 'logout_app' %}">Log Out</a>
            </li>
            
             {% else %}   
            <li class="nav-item active">
                
                <a class="nav-link" href="{% url 'logout_app' %}">Log Out</a>
            </li>
            <li>
                <a class="nav-link" href="">{{ request.user | capfirst }}</a>
            </li>
            
            {% endif %}
            {% else %}  

            <li class="nav-item active"> 
                <a class="nav-link" href="{% url 'user_login' %}">Log In</a>
            </li>
            <li class="nav-item active"> 
                <a class="nav-link" href="{% url 'register' %} ">Register</a>
            </li>
            {% endif %}
            
        </ul> {% endcomment %}
    </div>
</nav>


 