{% load crispy_forms_tags %} 
{% load  static %}

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid ">
        
        <div class="d-flex ">
            <a class="navbar-brand" href="/">
                <img src="{% static 'blog/images/logo.png' %}" alt="" width="35" height="35">
            </a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %} ">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create-post">Post</a>
              </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav"> 
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li> 
            </ul>
        </div>
        {% comment %} <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %} {% if request.user.is_superuser %}

            <li class="nav-item active">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item active">
                
                <a class="nav-link" href="{% url 'logout_app' %}">Log Out</a>
            </li>
            
             {% else %}   
            <li class="nav-item active">
                
                <a class="nav-link" href="{% url 'logout_app' %}">Log Out</a>
            </li>
            <li>
                <a class="nav-link" href="">{{ request.user | capfirst }}</a>
            </li>
            
            {% endif %}
            {% else %}  

            <li class="nav-item active"> 
                <a class="nav-link" href="{% url 'user_login' %}">Log In</a>
            </li>
            <li class="nav-item active"> 
                <a class="nav-link" href="{% url 'register' %} ">Register</a>
            </li>
            {% endif %}
            
        </ul> {% endcomment %}
    </div>
</nav>


 